// spacing units
$space-10: 1rem;
$space-15: 1.5rem;
$space-25: 2.5rem;

// unit
$unit-100: 10rem;
$unit-200: 20rem;
$unit-50: 5rem;

// font size
$heading-30: 3rem;
$second-heading-25: 2.5rem;
$title-25: 2.5rem;
$font-18: 1.8rem;
$font-16: 1.6rem;
$font-14: 1.4rem;

// font weight
$font-300: 300;
$font-400: 400;
$font-600: 600;
$font-700: 700;

// font color 
$font-color-primary: #56606e;
$font-color-secondary: #8a909d;
$font-color-tertiary: #abb1c0;

// notification colors
$success: #3ac96a;
$warning: #feb32a;
$error: #fd6868;
$info: #1d4ac6;
$notify: #c71b13;

// brand color
$primary-color: #f29f67;
$primary-light-shade: #fbe2d1;
$primary-dark-shade: #c27f52;
$secondary-color: #3b8ff3;

$tertiary-color: #34b1aa;
$supporting-color: #e0b50f;

// grey
$grey-dark: #e6e6e6;
$grey-light: #f7f7f7;

$primary-background: #ffffff;
$primary-font-color: #1e1e2c;