<div class="container">
    <div class="todays-brief">
        <div class="data">
            <div class="set">
                <span class="count">457</span>
                <span class="title">Logged in users</span>
            </div>
            <div class="set">
                <span class="icon"></span>
            </div>
        </div>
        <div class="data">
            <div class="set">
                <span class="count">122</span>
                <span class="title">Active users</span>
            </div>
            <div class="set">
                <span class="icon"></span>
            </div>
        </div>
        <div class="data">
            <div class="set">
                <span class="count">92</span>
                <span class="title">Total orders</span>
            </div>
            <div class="set">
                <span class="icon"></span>
            </div>
        </div>
        <div class="data">
            <div class="set">
                <span class="count">2</span>
                <span class="title">New products</span>
            </div>
            <div class="set">
                <span class="icon"></span>
            </div>
        </div>
    </div>
    <div class="todays-data">
        <div class="sales-report">
            <span class="title">Sales report</span>
            <app-sales-report></app-sales-report>
        </div>

        <div class="order-overview">
            <span class="title">Orders overview</span>
            <app-orders-overview></app-orders-overview>
        </div>
    </div>
    <div class="report">
        <div class="purchase-by-country">
            <span class="title">Purchase by country</span>
            <app-purchase-by-country></app-purchase-by-country>
        </div>
        <div class="todays-sellings">
            <div class="set">
                <span class="product">Shirts</span>
                <span class="count">48</span>
            </div>
            <div class="set">
                <span class="product">wallet</span>
                <span class="count">15</span>
            </div>
            <div class="set">
                <span class="product">Polo shirt</span>
                <span class="count">10</span>
            </div>
            <div class="set">
                <span class="product">samsung tab</span>
                <span class="count">10</span>
            </div>
            <div class="set">
                <span class="product">i Phone</span>
                <span class="count">10</span>
            </div>
        </div>
        <!-- <div class="set">
            <div class="new-custumers">

            </div>
            <div class="in-demand-products"></div>
        </div> -->
    </div>
</div>